@font-face {
  font-family: Tav;
  src: url(Taviraj-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(Roboto-Black.ttf);
}

@font-face {
  font-family: Quicksand;
  src: url('Quicksand-VariableFont_wght.ttf');
}
body {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: black;
  color: white;
}

.header {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 20px;
  grid-template-columns: 1fr;
  justify-items: center;
  color: white;
  background-color: black;
  row-gap: 5vh;
}

.title {
  grid-row-start: 2;
  display: grid;
  justify-items: center;
  font-size: 10vmin;
  font-weight: bold;
}

.TitleName {
  border-bottom: 0.5vmin solid #542cf2;
  margin-bottom: 3vmin;
}

.signUp {
  height: 20px;
  padding: 4vmin 7vmin;
  border-radius: 10vmin;
  border: none;
  grid-row-start: 4;
  background-color: #542cf2;
  display: flex;
  align-items: center;
  color: white;
  font-size: 3vmin;
}

.signUp:hover,
.meetingBooker:hover {
  opacity: 0.9;
  cursor: pointer;
}

.logoDummy {
  height: 40vmin;
  grid-row-start: 3;
}

.title {
  margin-top: 2vh;
}

.intro {
  grid-row-start: 2;
  font-size: 3vmin;
  max-width: 40vw;
  opacity: 0.7;
  text-align: center;
}

.section2 {
  height: 100vh;
  background-color: black;
  color: white;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-content: center;
}

.content,
.meetingBook {
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 2vmin;
  font-family: 'Quicksand';
}

.line,
.lineBelowMeeting,
.lineAboveSales,
.lineBelowSales {
  height: 0.5vmin;
  background-color: white;
  border-radius: 500px;
}

.lineBelowMeeting,
.lineBelowSales {
  margin-top: 10vh;
}

.lineAboveSales {
  width: 25%;
  background-color: #542cf2;
}

.line,
.lineBelowMeeting,
.lineBelowSales {
  width: 40vw;
  opacity: 0.2;
}

.callHeader,
.meetingHeader {
  font-size: 5vmin;
}

.meetingBooker {
  background-color: #542cf2;
  font-size: 3vmin;
  padding: 2vmin 5vmin;
  border-radius: 50vmin;
  color: white;
  font-weight: bold;
  border: none;
  font-family: 'Quicksand';
}

.meetingContent,
.callContent {
  max-width: 50vmin;
  text-align: center;
  font-size: 3vmin;
  margin-bottom: 2vh;
}

.meetingForm {
  display: none;
  font-family: 'Quicksand';
}

li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1vh;
  margin-top: 2vh;
  text-align: center;
}

input {
  padding-left: 0.5vw;
  padding: 0.5vmin;
  border-radius: 100px;
}

.displayMeetingForm {
  display: flex;
  opacity: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #542cf2;
  width: 80vmin;
  font-size: 3vmin;
  height: 65vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 10px solid wheat;
  border-radius: 3vmin;
}

.meetingSubmit {
  background-color: wheat;
  color: #542cf2;
  font-size: 1.5vmin;
  padding: 20px 100px;
  font-size: 3vmin;
  font-family: 'Quicksand';
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.formSignUp {
  background-color: #542cf2;
  margin-top: 15vh;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  font-size: 2vmin;
  padding-left: 0;
}

.formSignUp h1 {
  font-size: 7vmin;
  font-family: 'Tav';
}

.formSignUp input,
.formSignUp textarea {
  background-color: black;
  color: white;
  opacity: 0.3;
  height: 5vh;
  border-radius: 2vmin;
  width: 40vw;
  border: 1vmin solid black;
  padding: 1.5vmin 3vmin;
  font-size: 2vmin;
}

.formSignUp textarea {
  height: 20vh;
}

.formSubmit {
  width: fit-content;
  padding: 2vmin 3vmin;
  height: 7vh;
  border-radius: 1vmin;
  border: none;
  color: #542cf2;
  font-family: 'Quicksand';
  font-weight: bold;
  letter-spacing: 0.25vw;
  font-size: 2vmin;
}

.submitContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  font-size: 2.1vmin;
}

.submitContainer button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.footer {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vmin;
}

.copywright {
  opacity: 0.6;
  margin-bottom: 2vh;
}
